<h2>All Historical Landmarks</h2>

<!-- add content here -->
<ol>
<%@landmarks.each do |landmark| %>
  <li>
  <p><%= landmark.name %></p>
  </li>
    <p><%= landmark.year_completed%></p>
  <% end %>
</ol>


<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
