<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">
  <input type="text" name="landmark[name]" id="landmark_name">
  <br>
  <h3>Choose A Figure</h3>
  <% @figures.each do |figure|%>
  <label for="<%=figure.id%>"><%=figure.name%></label>
  <input type="checkbox" name="figure_id" value="<%=figure.id%>" id="<%=figure.id%>">
  <br>
  <%end%>
  <br>
  <label for="landmark_year_completed">Year Completed:</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <input type="submit" value="Create New Landmark">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
